@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostEnvironment
@model IndexModel
@using System.IO
@{
    ViewBag.Title = "Media";
}
<style>
    .folder-list {
        padding-bottom: 8px !important;
    }

        .folder-list .btn {
            margin-right: 4px;
            margin-bottom: 4px;
        }

    .file-list {
        .files

    {
    }

    .card {
        width: 192px;
        margin: 12px;
    }

    .card-body {
        padding-bottom: 4px;
    }

    .card-title {
        font-size: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 8px;
    }

    .file-icon {
        font-size: 96px;
        color: cadetblue;
        width: 96px;
        height: 96px;
    }

    .card-upload
    {  
        background-color: white;
        color: lightblue;
        .file-icon {
            color: lightblue;
        }
    }

    }
</style>

<h1>Media</h1>

<div class="folder-list card p-3 bg-white mb-1">
    <div class="">
        @if (Model.Path != null)
        {
            <a class="btn btn-outline-primary" asp-action="Index" asp-route-path="@Model.ParentPath" title="@Model.ParentPathName"><i class="fas fa-arrow-left"></i> </a>
        }
        <a class="btn btn-primary" asp-action="Index" asp-route-path="@Model.Path"><i class="fas fa-folder-open"></i> @Model.CurrentPathName</a>
        @foreach (var item in Model.Directories.OrderBy(d => d.Name))
        {
            <a class="btn btn-outline-primary" asp-action="Index" asp-route-path="@(Model.Path != null ? Model.Path + '\\' + item.Name : item.Name)"><i class="fas fa-folder"></i> @item.Name</a>
        }
        @if (Model.Files.Length == 0 && Model.Directories.Length == 0)
        {
            <a class="btn btn-danger" asp-action="DeleteCurrentFolder" title="Delete current folder"><i class="fas fa-minus"></i></a>
        }
        <a class="btn btn-outline-primary" asp-action="Index" title="Create new folder"><i class="fas fa-plus"></i></a>
    </div>
</div>

<form class="card p-3 bg-white" action="Index" method="post" enctype="multipart/form-data" sub-target="#file-list">
    <input type="hidden" asp-for="Path"/>

    <input id="uploadfile" type="file" name="files" class="onchange-submit" formaction="@Url.Action("UploadFiles")" multiple maxtotalsize="250 MB" maxtotalsize-alert="Total file size may not exceed 250 MB." hidden>

    <div id="file-list" class="file-list" ondropfile-set="#uploadfile">
        <div class="row row-cols-auto">
            @foreach (var item in Model.Files.OrderBy(f => f.Name))
            {
                <div class="card col">
                    <div class="card-body text-center">
                        <span class="float-start"><input class="file-item-chk" type="checkbox" /></span>
                        <span class="float-end">
                            <div class="dropdown">
                                <a class="btn btn-light btn-sm dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                            
                        </span>
                        <div class="">
                            @FileIcon(item)
                        </div>
                        <h5 class="card-title" title="@item.Name">@(item.Name)</h5>
                    </div>
                </div>
            }
            <div class="card col card-upload" onclick-click="#uploadfile">
                <div class="card-body text-center">
                    <div class="">
                        <i class="file-icon fas fa-plus"></i>
                    </div>
                    <h5 class="card-title">Upload</h5>
                </div>
            </div>
        </div>
        <div class="row">
            @if (Model.Files.Length > 0)
            {
                <div>
                    <button class="btn btn-sm btn-info" disabled enable-ifanychecked=".file-item-chk">Download</button>
                    <button class="btn btn-sm btn-info" disabled enable-ifanychecked=".file-item-chk">Rename</button>
                    <button class="btn btn-sm btn-danger" disabled enable-ifanychecked=".file-item-chk">Delete</button>
                </div>
            }
        </div>
    </div>

</form>

@functions {
    string? FileIcon(FileInfo file)
    {
        var ext = file.Extension.ToLowerInvariant();
        switch (ext)
        {
            case ".png":
            case ".jpg":
            case ".jpeg":
            case ".gif":
            case ".bmp":
                <img class="file-icon" src="@(file.FullName.Replace(hostEnvironment.WebRootPath, ""))">
                break;
            case ".pdf":
                <i class="file-icon far fa-file-pdf"></i>
                break;
            case ".avi":
            case ".mov":
            case ".mp4":
            case ".m4v":
                <i class="file-icon far fa-file-video"></i>
                break;
            case ".wav":
            case ".mp3":
            case ".m4a":
                <i class="file-icon far fa-file-audio"></i>
                break;
            case ".zip":
            case ".7z":
                <i class="file-icon far fa-file-archive"></i>
                break;
            case ".doc":
            case ".docx":
            case ".docm":
                <i class="file-icon far fa-file-word"></i>
                break;
            case ".xls":
            case ".xlsx":
            case ".xlsm":
                <i class="file-icon far fa-file-excel"></i>
                break;
            case ".ppt":
            case ".pptx":
            case ".pptm":
                <i class="file-icon far fa-file-powerpoint"></i>
                break;
            case ".htm":
            case ".html":
                <i class="file-icon far fa-file-code"></i>
                break;
            case ".js":
            case ".css":
            case ".json":
                <i class="file-icon far fa-file-alt"></i>
                break;
            default:
                <i class="file-icon far fa-file"></i>
                break;
        }
        return null;
    }
}